<a href="https://colab.research.google.com/github/AlaaBoghdady/Mindset_Training/blob/main/Lec_1_(Tasks).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Alaa Boghdady [ AI ]**

1 - Task on List

In [ ]:
Heros=['spider man','thor','hulk','iron man','captain america']

In [ ]:
#1 length of the list
print(len(Heros))

5

In [ ]:
#2 Add 'black panther' at the end of this list
Heros.append('black panther')
print(Heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
#3 You realize that you need to add 'black panther' after 'hulk' so remove it from the list first and then add it after 'hulk'
Heros.remove('black panther')
Heros.insert(3 , 'black panther')
print(Heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [ ]:
#4 Now you don't like thor and hulk because they get angry easily :)So you want to remove thor and
#hulk from list and replace them with doctor strange (because he is cool).Do that with one line of code.
Heros[1:3]=['doctor strange']
print(Heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [ ]:
#5 Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
Heros.sort()
print(Heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']


---

2 - Task on Variables

In [ ]:
# 1
birth_year = 2001
current_year = 2025
age = current_year - birth_year
print(age)

24

In [ ]:
# 2
first = "Alaa"
middle = " Hamdy Mohammed"
last = " Boghdady"
print(f" My name is {first}{middle}{last}.")

 My name is Alaa Hamdy Mohammed Boghdady.

In [ ]:
# 3 Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one
# my answer is (1record ,  record^one , record-one)



---

3 - Task on Numbers

In [ ]:
#1
length = 92
width = 48.8
area = length * width
print("The total area of the football field is " , area)

The total area of the football field is  4489.599999999999

In [ ]:
#2
num_packets = 9
cost_per_packet = 1.49
total_cost = cost_per_packet * num_packets
cash = 20
cash_back = cash - total_cost
print("cash back = " , cash_back)

cash back =  6.59

In [ ]:
#3
length = 5.5
area = length ** 2
cost_tiles = area*500
print("The total cost for bathroom tiles replacement = " , cost_tiles)

The total cost for bathroom tiles replacement =  15125.0



---

4 - Task on String

In [ ]:
#1
street = "100 dar misr "
city = " Elsherouk city"
country = "Egypt"
address = '\n' + street +'\n' + city +'\n' + country
print("the adress using + operator: " , address)
address = f"\n{street}\n{city}\n{country}"
print("the adress using f-string:" , address)

the adress using + operator:
100 dar misr
 Elsherouk city
Egypt
the adress using f-string:
100 dar misr
 Elsherouk city
Egypt

In [ ]:
#2
E = "Earth revolves around the sun"
#slice
print(E[6:14])
#negative index
print(E[-3:])

revolves
sun

In [ ]:
#3
fruits = 5
vegetables = 2
print(f"I eat {vegetables}  veggies and {fruits} fruits daily")

I eat 2  veggies and 5 fruits daily

In [ ]:
#4
s = 'maine 200 banana khaye'
s = s.replace('200' , '10').replace('banana' ,'samosa')
print(s)

maine 10 samosa khaye