<a href="https://colab.research.google.com/github/AlaaBoghdady/Mindset_Training/blob/main/Lec_2_(Tasks).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Alaa Boghdady [ AI ]**

# **1-Task on if condition**

In [ ]:
#1
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]

city = input("Enter the name of the city please :")
if city in india:
   print(f"{city} is in India")
elif city in pakistan:
  print(f"{city} is in Pakistan")
elif city in bangladesh:
  print(f"{city} is in Bangladesh")
else:
  print(f"I can't tell you which country the {city} is in! , sorry!")

Enter the name of the city please :cairo
I can't tell you which country the cairo is in! , sorry!

In [ ]:
#2
city1 = input("Enter the name of the first city please:")
city2 = input("Enter the name of the second city please:")

if city1 and city2 in india:
  print(f"{city1} and {city2} both cities are in india")
elif city1 and city2 in pakistan:
  print(f"{city1} and {city2} both cities are in pakistan")
elif city1 and city2 in bangladesh:
  print(f"{city1} and {city2} both cities are in bangladesh")
else:
  print("They don't belong to the same country")

Enter the name of the first city please:delhi
Enter the name of the second city please:mumbai
delhi and mumbai both cities are in india



---



---

In [ ]:
#2
sugar_level =float(input(("Enter your fasting sugar level please:")))
if sugar_level <80:
  print("your sugar is low!")
elif sugar_level > 100:
  print("your sugar is high!")
else:
  print("sugar is normal")

Enter your fasting sugar level please:90
sugar is normal



---



---

#**2-Task on for loops**

In [ ]:
#1
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
num = 0
for i in result:
  if i == "heads":
    num+=1
print("Heads count = " , num)

Heads count =  4

In [ ]:
#2
for i in range(1 , 11):
  if i % 2 ==0 :
    continue
  print(i*i)

1
9
25
49
81

In [ ]:
#3
month_list = ["january","february","march","april","may"]
expense_list = [2340, 2500, 2100, 3100, 2980]
exp = int(input("Enter your expense please:"))

month = -1
for i in range(len(expense_list)):
  if exp == expense_list[i]:
    month = i
    break

if month != -1:
  print(f"you spent {exp} in {month_list[month]}")
else:
  print(f"you didn't spent {exp} in any month")

Enter your expense please:2100
you spent 2100 in march

In [ ]:
#4
for i in range(5):
   print(f"you ran {i+1} miles")
   tired = input("Are you tired ?")
   if tired == "yes":
       break

if i == 4:
   print("Congratulations!! you finished the race :))")
else:
   print(f"unfortunatly you did't finish the race, but congrats anyways!")

you ran 1 miles
Are you tired ?yes
unfortunatly you did't finish the race, but congrats anyways!

In [ ]:
#5
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****



---



---

#**3-Task on List Set Dict Comprehensions**

In [ ]:
#1
integer = [11 ,31 ,88 ,43 ,20]
binary = ["12" ,"42" ,"56" ,"90" ,"87"]

z = zip(integer , binary)
binary_dict = dict(z)
print(binary_dict)

{11: '12', 31: '42', 88: '56', 43: '90', 20: '87'}

In [ ]:
#2
integer2 = [2 ,-3 ,4 ,6 ,-10]
additive_inverse=[-1*i for i in integer2]
print(additive_inverse)

[-2, 3, -4, -6, 10]

In [ ]:
#3
integer3 = [2 ,4 ,7 ,12 ,3]
sqr_set ={i**2 for i in integer3}
print(sqr_set)

{4, 9, 16, 49, 144}



---



---

#**4-Task on Dict and Tuple**

In [ ]:
#1
countries_population = {

      'China':143,
      'India':163,
      'USA':32,
      'Pakistan':21
}

while True:
  user =input("pleae Enter your choice (print , add , remove , query , exit)")

  if user == 'print':
    for country , population in countries_population.items():
      print(f"{country}==>{population}")

  elif user == 'add':
    country = input("what is the name of country ?")
    if country in countries_population:
      print(f'{country} already exist')
    else:
      population = int(input(f"Enter the population of {country}:"))
      countries_population[country] = population
      print(f"{country} has been added with population {population}.")

  elif user == 'remove':
    country = input("what is the name of country that you want to remove ?")
    if country in countries_population:
      del countries_population[country]
    else:
      print(f"{country} doesn't exist!")

  elif user == "query":
      country = input("Enter the country name to query: ")
      if country in countries_population:
       print(f"The population of {country} is {countries_population[country]}.")
      else:
       print(f"{country} doesn't exist in the dataset!")

  elif user == "exit":
        print("Exiting the program.")
        break
else:
    print("Invalid action. Please enter print, add, remove, query, or exit.")

pleae Enter your choice (print , add , remove , query , exit)remove
what is the name of country that you want to remove ?Egypt
Egypt doesn't exist!
pleae Enter your choice (print , add , remove , query , exit)add
what is the name of country ?egypt
Enter the population of egypt:3333
egypt has been added with population 3333.
pleae Enter your choice (print , add , remove , query , exit)remove
what is the name of country that you want to remove ?egypt
pleae Enter your choice (print , add , remove , query , exit)print
China==>143
India==>163
USA==>32
Pakistan==>21
pleae Enter your choice (print , add , remove , query , exit)query
Enter the country name to query: USA
The population of USA is 32.
pleae Enter your choice (print , add , remove , query , exit)exit
Exiting the program.

In [ ]:
#2
stocks = {
  'info':[600,630,620],
  'ril':[1430,1490,1567],
  'mtl':[234,180,160]
}

def circle_calc(radius):
  area = 3.1416 * (radius**2)
  circumference = 2 * 3.1416 * radius
  diameter = 2 * radius
  return area , circumference , diameter

while True:
  user = input("Enter your choice please?(print , add , circle_calc ,exit):")

  if user == "print":
    for stock , prices in stocks.items():
      avg_price = sum(prices)/ len(prices)
      print(f"{stock} ==> {prices} ==> avg: {avg_price}")

  elif user == "add":
    stock_ticker = input("Enter the stock ticker ")
    price = float(input(f"Enter the price for {stock_ticker}:"))

    if stock_ticker in stocks:
      stocks[stock_ticker].append(price)
      print(f"Added {price} to {stock_ticker}. New prices: {stocks[stock_ticker]}")
    else:
      stocks[stock_ticker] = [price]
      print(f"New stock {stock_ticker} added with price {price}.")

  elif user == "circle_calc":
    radius = float(input("Enter the radius of the circle:"))
    area , circumference , diameter = circle_calc(radius)
    print(f"Area {area} , circumference {circumference} , diameter {diameter}")

  elif user == "exit":
    print("Exiting the program.")
    break

else:
  print("Invalid action. Please enter (print, add, circle_calc, or exit.)")

Enter your choice please?(print , add , circle_calc ,exit):print
info ==> [600, 630, 620] ==> avg: 616.6666666666666
ril ==> [1430, 1490, 1567] ==> avg: 1495.6666666666667
mtl ==> [234, 180, 160] ==> avg: 191.33333333333334
Enter your choice please?(print , add , circle_calc ,exit):add
Enter the stock ticker info
Enter the price for info:1222
Added 1222.0 to info. New prices: [600, 630, 620, 1222.0]
Enter your choice please?(print , add , circle_calc ,exit):circle_calc
Enter the radius of the circle:30
Area 2827.44 , circumference 188.496 , diameter 60.0
Enter your choice please?(print , add , circle_calc ,exit):exit
Exiting the program.



---



---

#**5-Task on Functions**

In [ ]:
#1
def calculate_area(base , hight):
  area = 0.5 * base * hight
  return area

base = float(input("Enter the base of the triangle:"))
hight = float(input("Enter the hight of the triangle:"))
area = calculate_area(base , hight)
print(f"The area of the triangle is {area}")

Enter the base of the triangle:10
Enter the hight of the triangle:20
The area of the triangle is 100.0

In [ ]:
#2

def calculate_area(D1 , D2 , shape ='triangle'):

   if shape == 'triangle':
    area = 0.5 * (D1*D2)
   elif shape == 'rectangle':
    area = D1 * D2
   else:
    print("Error, please enter 'triangle' or 'rectangle'")
    area = None
   return area

shape = input("Enter the shape (triangle or rectangle):")
D1 = float(input("Enter the first dimension:"))
D2 = float(input("Enter the second dimension:"))
area = calculate_area(D1 , D2 , shape)
print(f"The area of the {shape} is {area}")

Enter the shape (triangle or rectangle):triangle
Enter the first dimension:10
Enter the second dimension:20
The area of the triangle is 100.0

In [ ]:
#3
def print_pattern(n):
  for i in range(1 , n+1):
    print("*"*i)

n = int(input("Enter the number "))
print(f'the pattern for {n} :')
print_pattern(n)

Enter the number 5
the pattern for 5 :
*
**
***
****
*****